// .collumns {
//      display: flex;
//      flex-wrap: wrap;
// }
.schoolwork {
     border: 10px solid transparent;
     border-image: url(https://res.cloudinary.com/dqjhgnivi/image/upload/v1699738460/co7m25hmtugvn3nsfvqg.png) 30 round;
     border-radius: 5%;
}
.optionOne{
     color: purple;
}
.markers {
     border: 10px solid transparent;
     border-image: url(https://res.cloudinary.com/dqjhgnivi/image/upload/v1701957302/or8z9nmoy7pn0cdzugrd.png) 30 round;
     border-radius: 5%;
}

.paint {
     border-radius: 5%;
     border: 10px solid transparent;
     border-image: url(https://res.cloudinary.com/dqjhgnivi/image/upload/v1701638744/od5v1uvqoiif9d08zgpd.png) 30 round;
}

.crayons {
     border-radius: 5%;
     border: 10px solid transparent;
     border-image: url(https://res.cloudinary.com/dqjhgnivi/image/upload/v1701985826/c79raip3gzo23whfiris.png) 30 round;
}

.mixed {
     border: 10px solid transparent;
     border-image: url(https://res.cloudinary.com/dqjhgnivi/image/upload/v1701638744/n0jdn1gtcoorkmcufepl.png) 30 round;
     border-radius: 5%;
}

.button {
     border-color: var(--text-light);
     color: var(--text-dark);
     height: 3rem;
     padding: 1rem;
     font-size: 11px;
     margin: 2rem;
     border-radius: 10%;
     text-align: center;
     text-align: justify;
     text-justify: inter-word;
     word-wrap: break-word;
     box-shadow: darkblue;
     list-style: none;
     border: none;

}