.schoolwork {
     border: 10px solid transparent;
     marker: none;
     // padding: 1px;
     border-image: url(https://res.cloudinary.com/dqjhgnivi/image/upload/v1699738460/cguvikdnirpk8ramxyp1.png) 30 round;

     // border-color: rebeccapurple;
     // margin: 2px;
     // padding: 5px;
     // border-radius: 15%;
     // box-shadow: 2px 2px 2px 1px rgba(102, 101, 87, 0.2);
}
.markers {
     border: 10px solid transparent;
     marker: none;
     padding: 1px;
     border-image: url(https://res.cloudinary.com/dqjhgnivi/image/upload/v1701638744/cjsiuhdpkxl1s4zrytzv.jpg) 30 round;

     // border-color: blue;
     // margin: 2px;
     // padding: 5px;
     // border-radius: 5%;

}
.paint {
     // border-color: green;
     // margin: 2px;
     // padding: 5px;
     // border-radius: 5%;
     marker: none;
     border: 10px solid transparent;
     padding: 1px;
     border-image: url(https://res.cloudinary.com/dqjhgnivi/image/upload/v1701638744/idhrvuzxoyxkums9lcc2.jpg) 30 round;


}
.crayons {
     border: 10px solid transparent;
     marker: none;
     padding: 1px;
     border-image: url(https://res.cloudinary.com/dqjhgnivi/image/upload/v1701638744/pbp4izjbcedwa5bifk7w.jpg) 30 round;

     // border-color: red;
     // margin: 2px;
     // padding: 5px;
     // border-radius: 5%;
     // font-style: italic;

}
.mixed {
     border: 10px solid transparent;
     marker: none;
     padding: 1px;
     border-image: url(https://res.cloudinary.com/dqjhgnivi/image/upload/v1701638744/ag2venovfdq4stxvgn0l.jpg) 30 round;

//      border-color: turquoise;
//      margin: 2px;
//      padding: 5px;
//   border-radius: 5%;

}

.button {
     border-color: var(--text-light);
     color: var(--text-dark);
     height: 3rem;
     padding: 1rem;
     font-size: 11px;
     margin: 2rem;
     border-radius: 10%;
     text-align: center;
     text-align: justify;
     text-justify: inter-word;
     word-wrap: break-word;
     box-shadow: darkblue;
     list-style: none;
     border: none;

}
li {
     marker: none;
}