.schoolwork {
     border: 10px solid transparent;
     border-image: url('./cackground.png') 30 round;
     border-radius: 5%;
}
.optionOne{
     color: purple;
}
.markers {
     border: 10px solid transparent;
     border-image: url('./bg5.png') 100 round;
     border-radius: 5%;
}

.paint {
     border-radius: 5%;
     border: 10px solid transparent;
     border-image: url('./bg4.png') 100 round;
}

.crayons {
     border-radius: 5%;
     border: 10px solid transparent;
     border-image: url('./bg3.png') 100 round;
}

.mixed {
     border: 10px solid transparent;
     border-image: url('./bg2.png') 100 round;
     border-radius: 5%;
}

.button {
     border-color: var(--text-light);
     color: var(--text-dark);
     height: 3rem;
     padding: 1rem;
     font-size: 11px;
     margin: 2rem;
     border-radius: 10%;
     text-align: center;
     text-align: justify;
     text-justify: inter-word;
     word-wrap: break-word;
     box-shadow: darkblue;
     list-style: none;
     border: none;

}
.background {
     background-color: aliceblue;
}