.App {
  text-align: left;
  width: 100%;

  padding: 2rem;
}
div {
  flex-direction: row;
  margin: 1fr;
  padding: 0.5rem;
  flex-wrap: 'wrap';

}
.collumns{
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  overflow-wrap: inherit;
border-style:double;
border-width: thick;
border-color: goldenrod;


}
/* section{

        width: 50;
        height: 50;
        align-content: 'space-between';
        justify-content: center;
        padding-left: 1rem;
        border-top: 1rem;
        border-width: 1rem;
        text-align: center;
} */
p{
  font-size:xx-small;
  text-align: left;
}
.btn{
  border: none;
  background-color: white;
}
.imageContainer {
  border-color: peru;
  border-style:groove;
  border-width: thick;
  margin: 1rem;

}








