.App {
  text-align: left;

  padding: 2rem;
}
div {
  flex-direction: row;
  margin: 1fr;
  padding: 0.5rem;
  flex-wrap: 'wrap';

}
.collumns{
  display: flex;
  border: solid 4px rgb(20, 20, 20);
  /* justify-content: space-evenly; */
  height: 37em;
  /* align-items: flex-end; */
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  overflow-wrap: inherit;

}
section{

        width: 50;
        height: 50;
        align-content: 'space-between';
        justify-content: center;
        padding-left: 1rem;
        border-top: 1rem;
        border-width: 1rem;
        text-align: center;
}
p{
  font-size:xx-small;
  text-align: left;
}








