.App {
  text-align: left;
  width: 98%;
background-color: antiquewhite;
  padding: 4rem;
  margin: 4rem;

}
div {
  flex-direction: row;
  margin: 1fr;
  padding: 0.5rem;
  flex-wrap: 'wrap';

}
.collumns{
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  overflow-wrap: inherit;




}

p{
  font-size:xx-small;
  color: var(--blue-1);
  text-align: left;
}
.btn{
  border:blueviolet;
  border-style: double;
  background-color: blue;
}
.imageContainer {
  border-color: peru;
  border-style:groove;
  border-width: thick;
  margin: 1rem;

}








